html, body, #map {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    position: relative;
    font-size: 14px;
    width: 100%;
}

.row2 {
    height: 100%;
}

.cont {
    height: 100%;
    
}

.size {
    font-size: 20px;
    color: #43aa8b;
    padding: 10px;
}

ul {
    padding-top: 20px;
}
@media only screen and (min-width: 775px) {
    .cont {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
}
.row1 {
    width: 30%;
}
   
.row2 {
    width: 70%;
}
}